/keppymididrv/*.exp
/keppymididrv/*.ilk
/keppymididrv/*.lib
/keppymididrv/*.obj
/keppymididrv/*.opensdf
/keppymididrv/*.pdb
/keppymididrv/*.sdf
/keppymididrv/*.vcxproj.user
/keppymididrv/*.suo
/keppymididrv/*.user
/keppymididrv/ipch
/keppymididrv/x64
/keppymididrv/output
/keppymididrv/Release
/keppymididrv/Debug
/keppymididrv/out
/keppymididrv/*.dll
/keppymididrv/*.exe
/drivercfg/*.opensdf
/drivercfg/*.sdf
/drivercfg/*.vcxproj.user
/drivercfg/*.suo
/drivercfg/*.user
/drivercfg/ipch
/drivercfg/Release
/drivercfg/Debug
/drivercfg/output
/drivercfg/keppymididrvcfg2/output
/drivercfg/keppymididrvcfg2/bin
/drivercfg/keppymididrvcfg2/obj
/drivercfg/*.dll
/drivercfg/*.exe
/drivercfg/x64
/sfpacker/*.opensdf
/sfpacker/*.sdf
/sfpacker/*.vcxproj.user
/sfpacker/*.suo
/sfpacker/*.user
/sfpacker/ipch
/sfpacker/Release
/sfpacker/Debug
/sfpacker/*.dll
/sfpacker/*.exe
/output/
*.tmp
git_ver.h
keppymididrv.exe
